@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Custom Colors */
@layer utilities {
  .sidebar-nav-text {
    color: #484848;
  }

  .active-bg {
    background-color: #ecfff5;
  }

  .active-color {
    color: #00a651;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  background: #F8F8F8;
}
.css-cveggr-MuiListItemIcon-root {
  min-width: 45px;
}

.css-19kzrtu {
  padding: 0px;
}

.MuiOutlinedInput-root, input {
  background: rgba(239, 240, 246, 1);
}